<head>
<script src="plotly-latest.min.js"></script>
<script src="csv-generator.js"></script>
<script src="jquery.min.js"></script>
<script src="gauss.js"></script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
<link rel="stylesheet" type="text/css" href="style.css">


</head>



<div id="container">
<div class="left">
 <h2> Parameters of the model</h2>
<!-- <table>
<tr><td>\(\mu\) </td><td><input type="text" id="rmu"/></td></tr>
<tr><td>\(\sigma\) </td><td><input type="text" id="rsigma"/></td></tr>
</table> -->

<div class="slidecontainer">
  <input type="range" min="0" max="100" value="50" class="slider" id="rmu">
  <p>\(\mu\)= <span id="demo"></span></p>
</div>

<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="rsigma">
  <p>\(\sigma\)= <span id="demo2"></span></p>
</div>

<script>
var slider1 = document.getElementById("rmu");
var demo = document.getElementById("demo");
demo.innerHTML = slider1.value;

slider1.oninput = function() {
  demo.innerHTML = this.value;
}
</script>

<script>
var slider2 = document.getElementById("rsigma");
var output = document.getElementById("demo2");
output.innerHTML = slider2.value;

slider2.oninput = function() {
  output.innerHTML = this.value;
}
</script>


<br/>
<br/>
<button class="button" onclick="plot()" href="myDiv">Show plot</button>
</div>

<div class="main">
<h1> Manu nuclear app</h1>
<br/>
For the moment let's play with a Gaussian distribution. The equation can be written as

<br/>
<br/>

\[{
  g(x)= \frac{1}{\sigma\sqrt{2\pi}} \exp\left( -0.5\left((x-\mu)/\sigma\right)^2 \right)
}\]
<br/>
<br/>

where
<br/>

<ul>
<li>\(\mu\) is the mean</li>
<li>\(\sigma\) is the variance</li>

</ul>




<div id="myDiv" style="width: 100%; height: 600px; text-align: center;"></div>
</div>
<div class="right">
  <p>Right Content</p>
</div>
</div>





