 * {
   box-sizing:border-box;
 }
 html, body { height: 100%; }

 body {
  font-family: 'Raleway', sans-serif;
 background-color: #e5eaf5;
 padding: 0px;
 font-size : 18px;
 text-align: left;
 color: #000;
 line-height: 1.5;
 }

 input[type=text] {
 background-color: #FFF;
 width: 90%;
 padding: 8px 8px;
 margin: 2px 0;
 box-sizing: border-box;
 }

 input[type="button"] {
 width: 180px;
 height:80px;
 margin-left: 35px;
 display: block;
 }

 .button {
 background-color: #494d5f;
 border: none;
 color: #ffff;
 padding: 10px 10px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 14px;
 margin: 4px 2px;
 cursor: pointer;
 }


 .h1{
 color:#2e383a;
 padding: 20px
 }
 .left {
  position:relative;
   background-color:#a0d2eb;
   padding:20px;
   float:left;
   width:30%; /* The width is 20%, by default */
   height:auto%;

 }

 .main {
   background-color:#e5eaf5;
   padding:20px;
   float:left;
   width:60%; /* The width is 60%, by default */
   height:100%;

 }

 .right {
   background-color:#f7f7f7;
   padding:20px;
   float:left;
   width:10%; /* The width is 20%, by default */
 }

 /* Use a media query to add a break point at 800px: */
 @media screen and (max-width:800px) {
   .left, .main, .right {
     width:100%; /* The width is 100%, when the viewport is 800px or smaller */
   }
   .left{height: auto;}
 }
 .slider {
     -webkit-appearance: none;
     width: 80%;
     height: 15px;
     border-radius: 15px;
     background: #d3d3d3;
     outline: none;
     opacity: 0.7;
     -webkit-transition: .2s;
     transition: opacity .2s;
   }

   .slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 25px;
     height: 25px;
     border-radius: 50%;
     background: #dd5951;
     cursor: pointer;
   }

   .slider::-moz-range-thumb {
     width: 25px;
     height: 25px;
     border-radius: 50%;
     background: #dd5951;
     cursor: pointer;
   }